name: Build and push Docker image

on:
  schedule:
    - cron: '0 0 * * *'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get latest release version
        uses: pozetroninc/github-action-get-latest-release@master
        id: latest-release
        with:
          owner: tailscale
          repo: tailscale
          excludes: prerelease, draft
          
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: 'tailscale/tailscale'
          ref: ${{ steps.latest-release.outputs.release }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/386,linux/arm/v7,linux/arm/v6
          push: true
          tags: |
            tzhao11/tailscale:latest
            tzhao11/tailscale:${{ steps.latest-release.outputs.release }}
